@import '~nord/src/sass/nord.scss';
@import '../../../variables.scss';

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $nord6;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 1rem;
    font-weight: 200;

    .projectName {
      margin: 0;
      margin-bottom: 0.25rem;
      font-weight: 200;
    }

    .role {
      margin: 0;
    }
  }

  .description {
    padding-top: 1rem;
  }

  .carouselContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slideContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
