.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 0.5rem;

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1080px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
